# src/main/resources/application.yml
spring:
  application:
    name: news-crawler
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Bangkok&useUnicode=true&characterEncoding=UTF-8
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

server:
  port: 8888

# Crawler Schedule
crawler:
  cron: "*/30 * * * * *"

# Swagger UI
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  api-docs:
    enabled: true

# RabbitMQ
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}

rabbit:
  exchange: news.exchange
  routing:
    links: news.links

# JWT
jwt:
  secret-key: ${JWT_SECRET_KEY}

# CORS
  webflux:
    cors:
      allow-credentials: true
      allowed-origins: "*"

# GA4
google:
  project-id: ${GA4_PROJECT_ID}
  client-email: ${GA4_CLIENT_EMAIL}
  private-key: ${GA4_PRIVATE_KEY}
  property-id: ${GA4_PROPERTY_ID}
  credentials-base64: ${GA4_CREDENTIALS_BASE64:}